$primary-color: #e6e8eb;
.main-container {
    margin:0 8%;
    .main-header {
        min-height: 50px;
        margin: 5% 0;
        .main-header-left {
            float: left;
            p {
                text-transform: uppercase;
                color: #95989a;
                font-size: 25px;
                font-weight: 650;
                font-family: 'Lato';
            }
        }
        .main-header-right{ 
            float: right;
            .options{
                display: inline-block;
                .grid-option,
                .list-option {
                    display: inline-block;
                    padding: 6px 20px;
                    text-align: center;
                    border: 1px solid $primary-color;
                    box-shadow: 1px 2px 2.5px $primary-color;
                    margin-left: 1px;
                    transition: .5s all;
                    cursor: pointer;
                    img { width: 16px; height: 16px; }
                }
                .grid-option {
                    border-top-left-radius: 50vh;
                    border-bottom-left-radius: 50vh;
                }
                .list-option {
                    border-top-right-radius: 50vh;
                    border-bottom-right-radius: 50vh;
                }
                .active {
                    box-shadow: 1px 2px 2.5px #35c9b1;
                    border: 1px solid #35c9b1;
                }
            }
            .search {
                width: 5px;
                height: 35px;
                margin-right: 15px;
                transition: all .3s ease;
                border: 1px solid $primary-color;
                box-shadow: 1px 2px 2.5px $primary-color;
                background: url(../../../assets/images/search.png) no-repeat 10px 8px;
                background-size: 16px;
                padding: 0 5px 0 30px;
                color:black;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                cursor:pointer;
            }
            .search:focus {
                width: 200px;
                height: 35px;
                border: none;
                box-shadow: 0 0 1pt 0.5pt #35c9b1;
                -webkit-transition:all .3s ease;
                -moz-transition:all .3s ease;
                -ms-transition:all .3s ease;
                -o-transition:all .3s ease;
                transition:all .3s ease;
                color:black;
                font-weight: 300;
                outline: none;
                cursor: auto;
            }            
        }
    }
    .list-books{
        width: 84%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 50px;
        text-align: center;
        .box{
            background: #3333330d;
            width: 24%;
            padding: 15px;
            padding-bottom: 0;
            text-align: center;
            margin-bottom: 30px;
            transition: 0.5s;
            margin-right: 3.5%;
            margin-left: 3.5%;
        }
        .box.list {
            width: 100%;
            flex-direction: column;
            display: flex;
            justify-content: flex-start;
        }
    }

}