<app-banner></app-banner>
<div class="main-container">
  <div class="main-header">
    <div class="main-header-left">
      <p>popular e-books</p>
    </div>
    <div class="main-header-right">
      <input type="search" [(ngModel)]='keyword' (keyup)="searchBook(keyword)" class="search" placeholder="Search book">
      <div class="options">
        <div class="grid-option list {{ isViewList? '' : 'active' }}" (click)="changeOption(false);">
          <img src="../../../assets/images/list.png" alt="bar-menu">
        </div>
        <div class="list-option list {{ isViewList? 'active' : '' }}" (click)="changeOption(true);">
          <img src="../../../assets/images/list-2.png" alt="squares">
        </div>
      </div>
      <button mat-raised-button (click)="openDialog()">Add</button>
    </div>
  </div>
  <div class="list-books">
    <div [ngClass]="['box',isViewList? 'list' : '']" *ngFor="let book of books ">
      <app-book [book]="book"></app-book>
    </div>
  </div>
</div>